html, body, svg {
  height: 100%;
  margin: 0;
  /* background-color: white; */
  color: #ddd
}
#graph {
  fill: white;
}
#cible {
  fill: green;
}
#accuracy_70_100 {
  fill: rgb(169, 227, 75);
}
#accuracy_35_70 {
  fill: rgb(192, 235, 117);
}
#accuracy_0_35 {
  fill: rgb(216, 245, 162);
  border: 1px solid black;
}
#jobs {
  fill: #123123
}
.small { font: italic 5px sans-serif; }


path { 
  stroke: steelblue;
  stroke-width: 2;
  fill: none;
}

.axis path,
.axis line {
  fill: none;
  stroke: grey;
  stroke-width: 1;
  shape-rendering: crispEdges;
}

div.tooltip {	
  position: absolute;			
  text-align: start;			
  width: auto;					
  height: auto;					
  padding: 5px;				
  font: 12px sans-serif;		
  background: lightsteelblue;	
  border: 1px solid black;		
  border-radius: 0px;			
  pointer-events: none;	
  justify-content: start;	
}
.chart {
  display: flex;
  justify-content: space-around;
  margin-right: 10px;
  margin-bottom: 30px;
}
.item1, .item2, .item3 {
  margin-right: 10px;
  width: 85px;
  text-align: center;
}
.item1 span {
  height: 30px;
  width: 100%;
  background-color:rgb(169, 227, 75) ;
  display: block;
  padding: 4px;
  border-radius: 8px;
}

.item2 span {
  height: 30px;
  width: 100%;
  background-color:rgb(192, 235, 117);
  display: block;
  padding: 4px;
  border-radius: 8px;
}
.item3 span {
  height: 30px;
  width: 100%;
  background-color:rgb(216, 245, 162) ;
  display: block;
  padding: 4px;
  border-radius: 8px;
}

.job-preview {
  background-color: #ddd;
  height: calc(100vh);
}