.job-detail {
    width: 100%;
    height: auto;
    min-height: 650px;
    max-height: 1000px;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    /* -webkit-box-shadow: 8px -1px 35px -19px rgba(0,0,0,0.66);
    -moz-box-shadow: 8px -1px 35px -19px rgba(0,0,0,0.66); */
    /* box-shadow: 8px -1px 35px -19px rgba(0,0,0,0.66); */
    overflow-y : auto;
    margin-top: 5%;
}

.job-title {
    text-align: center;
}

.job-title span {
    font-size: 22px;
    font-family: monospace;
}