.footer {
    width: 100;
    height: 100%;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #3f51b5;
    margin-top: 7%;
    min-height: 100px;
    margin-bottom: -12px;
}